<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='sources/icono.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style-sections.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/responsive.css') }}">

</head>

<body>
    <div class="loader"></div>
    <div class="btn-arriba"></div>

    <header id="hero" class="cabecera">

        <section class="banner">
            <nav id="header" class="menu">
                <ul class="menu-btn">
                    <li class="btn"><a href="#hero">Acerca</a></li>
                    <li class="btn"><a href="#proyectos">Proyectos</a></li>
                    <li class="btn"><a href="#testimonios">Testimonios</a></li>
                    <li class="btn"><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>

            <!-- Contenido -->
            <div class="contenido" >
                <!-- Presentación -->
                <h1>¡Hola! Soy Kari</h1>
                <p>Desarrolladora Front-end </p>
                <p>Combino creatividad y tecnología para construir soluciones innovadoras.</p>

                <!-- Botones  -->
                <div class="call-btn">
                    <!-- Botón contacto -->
                    <a href="#contacto" class="btn">¡Trabajemos juntos!</a>
                    <!-- Botón a proyectos -->
                    <a href="#proyectos" class="btn">¡Conoce mis proyectos!</a>
                </div>
            </div>

        </section>
        
        <!-- Código para el video de fondo -->
        <video muted autoplay loop>
            <source src="{{ url_for('static', filename='./sources/background_video.mp4') }}" type="video/mp4">
        </video>
        <div class="capa"></div>

    </header>

    <main>


        <section id="proyectos">

            <h2>Proyectos</h2>
            <section class="card-container">
                <article class="card">
                    <div class="card-imagen">
                        <img src="{{ url_for('static', filename='./sources/proyectos/spa.png') }}" alt="Proyecto_1" width="100%" height="100%">
                    </div>
                    <div class="card-body">
                        <h3>"Spa Vitalia" - Sitio web para centro de relajación</h3>
                        <div>
                            <p>Sitio web responsivo para un spa ficticio. Estilo limpio, enfocado en servicios y
                                contacto.</p>
                            <span>
                                <p class="text">
                                    Tecnologias usadas
                                <ul class="text">
                                    <li>HTML</li>
                                    <li>Css</li>
                                    <li>JavaScript</li>
                                    <li>Bootstrap</li>
                                </ul>
                                </p>
                            </span>
                        </div>
                        <div class="card-btn">
                            <a href="https://pagina-spa.vercel.app/" class="btn" target="_blank">Ver demo</a>
                            <a href="https://github.com/KatyE0/pagina-spa" class="btn" target="_blank">Repositorio</a>
                        </div>
                    </div>

                </article>
                <article class="card">
                    <div class="card-imagen">
                        <img src="{{ url_for('static', filename='sources/background_no_imagen.webp') }}" alt="Proyecto_1" width="100%" height="100%">
                    </div>
                    <div class="card-body">
                        <h3>"Lorem ipsum" dolor sit amet, consectetur adipiscing elit.</h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt lorem sed
                                libero feugiat, quis viverra mi rhoncus. Nunc vel.</p>
                            <span>
                                <p class="text">
                                    Tecnologias usadas
                                <ul class="text">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                </p>
                            </span>
                        </div>
                        <div class="card-btn">
                            <a href="https://pagina-spa.vercel.app/" class="btn" target="_blank">Ver demo</a>
                            <a href="https://github.com/KatyE0/pagina-spa" class="btn" target="_blank">Repositorio</a>
                        </div>
                    </div>

                </article>
                <article class="card">
                    <div class="card-imagen">
                        <img src="{{ url_for('static', filename='sources/background_no_imagen.webp') }}" alt="Proyecto_1" width="100%" height="100%">
                    </div>
                    <div class="card-body">
                        <h3>"Lorem ipsum" dolor sit amet, consectetur adipiscing elit.</h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt lorem sed
                                libero feugiat, quis viverra mi rhoncus. Nunc vel.</p>
                            <span>
                                <p class="text">
                                    Tecnologias usadas
                                <ul class="text">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                </p>
                            </span>
                        </div>
                        <div class="card-btn">
                            <a href="https://pagina-spa.vercel.app/" class="btn" target="_blank">Ver demo</a>
                            <a href="https://github.com/KatyE0/pagina-spa" class="btn" target="_blank">Repositorio</a>
                        </div>
                    </div>

                </article>
                <article class="card">
                    <div class="card-imagen">
                        <img src="{{ url_for('static', filename='sources/background_no_imagen.webp') }}" alt="Proyecto_1" width="100%" height="100%">
                    </div>
                    <div class="card-body">
                        <h3>"Lorem ipsum" dolor sit amet, consectetur adipiscing elit.</h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt lorem sed
                                libero feugiat, quis viverra mi rhoncus. Nunc vel.</p>
                            <span>
                                <p class="text">
                                    Tecnologias usadas
                                <ul class="text">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                </p>
                            </span>
                        </div>
                        <div class="card-btn">
                            <a href="https://pagina-spa.vercel.app/" class="btn" target="_blank">Ver demo</a>
                            <a href="https://github.com/KatyE0/pagina-spa" class="btn" target="_blank">Repositorio</a>
                        </div>
                    </div>

                </article>


            </section>
            <a class="btn-proyectos btn" href="https://github.com/KatyE0?tab=repositories" target="_blank">Ver mas..</a>


        </section>

        <section id="testimonios">
            <h2>Testimonios</h2>

            <div class="carrusel">
                <div class="btn-carrusel">
                    <a href="#" role="button" class="btn-flecha">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                            <path
                                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                        </svg>
                    </a>
                </div>


                <div class="card-carrusel">
                    <section class="carrusel-img">
                        <img src="{{ url_for('static', filename='sources/background_no_imagen.webp') }}" alt="" srcset="">
                    </section>
                    <section class="carrusel-text">
                        <!-- <h4></h4>
                        <p></p> -->
                        <h4>Nombre</h4>
                        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                            velit..."</p>
                    </section>
                </div>
                
                

                <!-- <div class="btn-adelante">></div> -->
                <div class="btn-carrusel">
                    <a class=" btn-flecha">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path
                                d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753" />
                        </svg>
                    </a>
                </div>


            </div>

        </section>


        <section id="contacto">
            <h2>Contacto</h2>

            <form class="form-contacto" id="formContacto" action="/contacto" method="POST">
                <div class="campos">
                    <input type="text" name="nombre" id="" placeholder="Nombre:" required>
                    <input type="email" name="email" id="" placeholder="Correo electronico:" required>
                    <input type="tel" name="telefono" placeholder=" Telefono:">
                    <textarea placeholder="Mensaje" name="mensaje" cols="" rows="10" required></textarea>
                </div>
                <div class="">

                    <input type="submit" class="btn btn-formulario " value="Enviar">
                </div>

            </form>
        </section>

    </main>

    <footer id="footer">
        <small class="footer-container">© 2025 Kari Escalante. Creando tecnología con pasión.</small>
        <ul class="footer-container container-redes">
            <li class="">
                <a href="https://github.com/KatyE0" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f0f8ff" class="bi bi-github"
                        viewBox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/karina-escalante-2666a2321/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f0f8ff" class="bi bi-linkedin"
                        viewBox="0 0 16 16">
                        <path
                            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="mailto:karinaesol220305@gmail.com" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f0f8ff"
                        class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                    </svg>
                </a>
            </li>
        </ul>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>